<div>
<!--    <button id="back">Back to Architect</button>-->
    <h2 class="agent-name"><%= title %> <%= agent %></h2>
    <img src="/agent/image/<%= agentId %>" width="300" height="300"/>
    <input id="agentId" value="<%= agentId %>" type="hidden"/>
    <div></div>
    <button id="fight-<%= agentId %>">Fight</button>
    <p>Health❤️️</p>
    <p id="health-<%= agentId %>"><%= health %></p>
</div>
<script>
    (function() {
        let agId = "<%= agentId %>"
        const fightBtn = document.getElementById('fight-' + agId);
        fightBtn.addEventListener('click', function () {
            if (agId !== "default") {
                $("#health-" + agId).load("../fight/" + agId);
            } else {
                $("#health-" + agId).load("../fight/");
            }
        })
    })()
</script>